


<h1>Point Earning Rules</h1>

<h3>Customer Info</h3>
<table>
    <tbody>
    <tr><td>Customer ID</td><td>:</td><td><%=@user.id%></td></tr>
    <tr><td>Name</td><td>:</td><td><%= @user.name%></td></tr>
    <tr><td>Point Balance</td><td>:</td><td><%=@point.balance%></td></tr>
    <tr><td>Tier</td><td>:</td><td><%=@tiers[@user.tier]%></td></tr>

     
    </tbody>
</table>
<br>

<h3>Customer Historical Transaction</h3>
<table>
    <thead>
        <tr><th>Trx ID</th><th>Trx Date</th><th>Outside Country</th><th>Trx Ammount</th><th>Get Point</th></tr>
    </thead>

    <%total_ammount=0%>
    <%total_point =0%>

    <tbody>
        <% @transactions.each do |t| %>
            <tr>
                <td><%= t.id%></td>
                <td><%= t.trx_date%></td>
                <td style="text-align:center;"><%= t.isForeignTrx%></td>
                <td><%= t.ammount%></td>
                <td><%= t.point%></td>
            <tr>
            <%total_ammount=total_ammount+t.ammount%>
            <%total_point =total_point+t.point%>

        <%end%>
    </tbody>
    <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td><%= total_ammount%></td>
                <td><%= total_point%></td>
            <tr>
    </tfoot>

    
</table>
<h1>Issuing Rewards Rules</h1>

<h3>Customer Rewards Collected</h3>
<table>
    <thead>
        <tr><th>Number</th><th>Reward Date</th><th>Reward Name</th><th>From Rules</th></tr>
    </thead>

    <%i=1%>

    <tbody>
        <% @rewards.each do |t| %>
            <tr>
                <td><%= i%></td>
                <td><%= t.reward_date%></td>
                <td><%= t.reward_name%></td>
                <td><%= t.rule_name%></td>

            <tr>
            <%i=i+1%>

        <%end%>
    </tbody>

</table>

<br>